@import "../../variables.scss";

.navbar {
  height: $header-size;
  display: flex;
  align-items: center;
  padding: 10px 40px;
  border-bottom: $primary-border;
  .logo {
    font-size: 32px;
    text-transform: uppercase;
    width: 15%;
    text-align: center;
    font-weight: bold;
    color: $primary-clr;
  }

  .search-box {
    display: flex;
    align-items: center;
    border: $primary-border;
    padding: 6px;
    width: 217px;
    .search-input {
      outline: none;
      border: none;
      background: transparent;
      font-size: 15px;
      flex: 1;
    }

    .search-icon {
      cursor: pointer;
    }
  }
  .navbar-buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 17px;
  }

  .navbar-btn {
    display: flex;
    align-items: center;
    color: $black-clr-400;
    cursor: pointer;
    position: relative;
    svg {
      font-size: 20px;
    }

    .notifiction {
      position: absolute;
      top: 0;
      right: 0;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: $primary-clr;
    }
  }

  .navbar-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $black-clr-400;
    cursor: pointer;
  }
}
