@import "../../variables.scss";

.sidebar {
  width: 200px;
  padding: 15px 0;
  border-right: $primary-border;
  &-box {
    margin-bottom: 15px;
  }

  &-title {
    color: $black-clr-300;
    margin-bottom: 5px;
    padding-left: 15px;
  }

  &-item-link {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 7px 4px 7px 22px;
    font-size: 18px;
    color: $primary-clr;
    transition: 0.1s;
    &:hover {
      background-color: $black-clr-100;
    }
    // &.active {
    //   background-color: $black-clr-100;
    // }
  }

  &-item-text {
    color: $black-clr-400;
    font-size: 16px;
    display: flex;
    align-items: center;
  }

  .theme-control {
    display: flex;
    gap: 10px;
    padding-left: 22px;
    margin-top: 12px;

    .theme-clr {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      cursor: pointer;

      &.active {
        border: 1px solid $black-clr-400;
      }
      &.light {
        background: $light-clr-900;
      }
      &.dark {
        background: $black-clr-900;
      }
    }
  }
}
