// Colors

$primary-clr: hsl(353, 86%, 54%);
$black-clr-100: hsl(0, 0%, 97%);
$black-clr-200: hsl(0, 14%, 89%);
$black-clr-300: hsl(0, 0%, 55%);
$black-clr-400: hsl(0, 0%, 44%);
$black-clr-900: hsl(204, 10%, 10%);
$mostly-white-clr: hsl(0, 0%, 100%);

// Sizes

$header-size: 57px;

// others

$primary-border: 1px solid $black-clr-200;
