// Colors

$primary-clr: hsl(353, 86%, 54%);
$black-clr-900: hsl(204, 10%, 10%);
$black-clr-200: hsl(210, 14%, 89%);
$black-clr-400: hsl(0, 0%, 44%);
$mostly-white-clr: hsl(0, 0%, 100%);

// Sizes

$header-size: 57px;
